<article class="user-page">
  <header>
    <h2>
      <%= @user.nickname %>
    </h2>

    <% if current_user.id != @user.id %>
      <%= button_to 'Add to friends', friendships_path(:friend_id => @user), method: :post %>
    <%end%>
  </header>

  <section>
    <h3>Friends</h3>
    <ul>
    <% @user.friends.each do |friend| %>
      <li><%= friend.nickname %></li>
    <% end %>
    </ul>
  </section>

  <section>
    <h3>Articles<h3>
    <%= render @user.articles %>
  </section>
<article>